#cabinet {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#game_border{
    width: fit-content;
    border: 5px solid white;
    height: 793px;
}
body{
    background-color: black;
}
h1{
   text-align: center;
    color:white; 
}
table{
    border-collapse: collapse;
    color: white;
    width: 50%;
    border: 1px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
td{
    width: 50%;
    text-align: center;
    border: 1px solid white;
}